<div class="inner">
    <section id="intro">
        <div class="content">
            <img class="logo" src="assets/images/logo.png" alt="" />
            <h1>Attendr</h1>
            <p>Simple & free way to eliminate event no-shows</p>
            <ul class="actions vertical">
                <li>
                    <a routerLink="/create-event" class="button special fit">Create Deposit Box</a>
                </li>
            </ul>
        </div>
        <a href="#about">What is Attendr?</a>
    </section>
    <section id="about" class="style1">
        <header>
            <h2>Be confident about your next
                <br /> event’s attendance rate</h2>


            <p>Require your guests to place some ether in a deposit box as collateral
                <br /> if they want to attend your events, in order to minimize no-shows.
                <br /> Guests get their ether back when they show up to your event.</p>
        </header>
        <div >


                <img alt="" src="assets/images/conference.jpg" width="100%" />

        </div>
    </section>
    <section id="highlights" class="style1">
        <section>
            <div>
                <img width="100%" height="100%" alt="" src="assets/images/free.jpg" />
            </div>
            <div class="content">
                <h3>Free</h3>
                <p>Deposits are made using the Ethereum blockchain - no credit cards or any personal info required.</p>
            </div>
        </section>
        <section>
            <div>
                <img width="100%" height="100%" alt="" src="assets/images/community.jpg" />
            </div>
            <div class="content">
                <h3>Community</h3>
                <p>Deposits of no-show guests are donated to an open-source project or charity declared in advance by the event organizer.</p>
            </div>
        </section>
        <section>
            <div>
                <img width="100%" height="100%" alt="" src="assets/images/simple.jpg" />
            </div>
            <div class="content">
                <h3>Simple</h3>
                <p>Anyone can create an event, all it takes is a little Ether to pay the contract gas fees</p>
            </div>
        </section>
    </section>
</div>
<footer id="footer">
    <ul class="menu">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a routerLink="/create-event">Create Deposit Box</a>
        </li>
    </ul>
</footer>