<div class="inner" *ngIf="!eventId">
    <h1>Create Deposit Box</h1>
    <div class="content">
        <form (submit)="create(address.value, amount.value, date.value)">
            <section>
                <div class="field">
                    <label for="charity">Charity Address</label>
                    <input type="text" name="charity" autofocus="" #address value="0xdB78F0C379073E10002c0a9F696315413F607ecc">
                </div>
                <div class="field">
                    <label for="amount">Deposit Amount (Ether)</label>
                    <input type="text" name="amount" #amount value="0.001">
                </div>
                <div class="field">
                    <label for="date">Event End Date & Time</label>
                    <input type="datetime-local" name="amount" #date>
                </div>
            </section>
            <ul class="actions vertical">
                <li>
                    <div class="submit-wrapper">
                        <button type="submit" class="special fit" [class.is-loading]="loading">Create</button>
                    </div>
                    <p *ngIf="loading">Waiting for confirmation from the Ethereum network. This might take a while.</p>
                </li>
            </ul>
        </form>
    </div>
</div>

<div class="inner" *ngIf="eventId">
    <h1>Hooray! We created your Attendr Deposit Box</h1>
    <div class="content">
        <h2>Your Attendr Deposit Box is ready for use</h2>
        <i class="large-icon fa fa-calendar-check-o" aria-hidden="true"></i>
        <p>Click here to see your deposit box details: <br><a href="{{origin}}/event-info/{{eventId}}">{{origin}}/event-info/{{eventId}}</a> </p>
        <p>Paste the following URL in your event so your guests can register: <br><a href="{{origin}}/register/{{eventId}}">{{origin}}/register/{{eventId}}</a> </p>
        <p>Don't forget to let them know which charity or open-source project their deposit will be sent to if they don't show up</p>
    </div>
</div>